/* Natasha Khatri */

#frames_content {
	width:77%;
	margin-left:180px;
	margin-top:30px;
	padding-bottom:50px;
	}

h1 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#9B6711;
	border-bottom:1px solid #9B6711;
	}
	
#frames_content img {
	float:right;
	margin-top:20px;
	margin-bottom:100px;
	}
	
#frames_content p {
	padding-top:20px;
	}

#frames_content ol {
	padding-top:20px;
	margin-left:45px;
	}

#frames_content table {
	width:300px;
	border:1px solid #fff;
	border-collapse:collapse;
	text-align:center;
	}
#frames_content caption {
	padding-top:20px;
	}
	
#frames_content th,td {
	border:1px solid #fff;
	padding:5px;
	}

#frames_content h2 {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color:#9B6711;
	padding-top:20px;
	}
